/* Add this to your CSS file */
.container {
    display: flex;
  }
  
/* Add or update these styles in your CSS file */
.menu-card {
    width: 300px; /* Adjust width as needed */
    height: 100vh; /* Full height */
    position: fixed;
    left: 0;
    top: 55px;
    background-color: #318CE7; /* Dark background */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .menu-item {
    padding: 10px 20px;
    color: #ccc; /* Lighter text color */
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
  }
  
  .menu-item:hover, .menu-item:focus {
    color: #fff; /* White text color on hover/focus */
    transform: translateX(5px); /* Slightly move to right on hover/focus */
  }
  
  /* Active class for the current menu item */
  .menu-item-active {
    color: #fff;
    pointer-events: none; /* Disable hover effect on active item */
  }
  
  /* Make scrollbar invisible */
  .menu-card::-webkit-scrollbar {
    display: none;
  }
  
  .menu-card {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .content {
    margin-top: 100px;
    margin-left: 500px; /* Same as menu-card width */
    flex-grow: 1;
    height: 100vh;
    overflow-y: auto;
  }
  
  /* Invisible scrollbar styles */
  .content::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  
  .content {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  